:root{

    box-sizing: border-box;
    }
    
    .pokepic{
        grid-area: pic;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: none;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* border: 2px solid blue; */
    }

    .pokepic img{
        padding: 0;
        margin: 0;
        height: 360px;
        width: 350px;
        /* border: 2px solid blue; */
    }

    .typeswrap{
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
    }

    .type{
        /* border: 1px solid green; */
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        height: 30px;
        width: 140px;
        font-weight: 600;
        font-size: 1.1rem;
        background-color: green;
    }
    .statswrapper{
        box-sizing: border-box;
        height: 100%;
        width: 50%;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 20px;
    }
    .statstitle{
        box-sizing: border-box;
        display: flex;
        font-weight: 700;
        font-size: 1.4rem;
    }
    .stats{
        box-sizing: border-box;
        font-weight: 400;
        font-size: 1.2rem;
    }

    .detailwrapper{
        background-image: url("backgrounds/pokewall.jpg");
        background-size: cover;
        width: 100%;
        height: 85vh;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        
    }

    .backgroundInfo{
        border-radius: 20px;
        width: 80vw;
        height: 70vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        place-self: center;
        box-sizing: border-box;
        
    }

    .cardsbuttons{
        box-sizing: border-box;
        border-bottom: 4px double darkslategray;
        width: 100%;
        height: 70px;
        font-size: 4rem;
        display: flex;
        place-content: center;
        background-color: rgb(0, 5, 78);
    }
    .direcbutton{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 50%;
        color: white;

        border: 2px double white;
        border-radius: 5px;
        cursor: pointer;
    }
    .direcbutton:active{
        background-color: rgb(30, 33, 73);
        transform: translateY(2px);
    }

    .infocontainer{
        box-sizing: border-box;
        padding: 18px 30px;
        /* border: 2px solid red; */
        height: 100%;
        display: grid;
        align-items: center;
        grid-template-columns: 360px 1fr;
        grid-template-rows: 60px 1fr;
        grid-template-areas:   
            "title title"
            "pic info";
    }
    .title{
        grid-area: title;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        font-weight: 700;
        font-size: 2.5rem;
        display: flex;
        place-content: center;
        align-items: center;
    }

    .infobox{
        margin: 0;
        padding: 0;
        grid-area: info;
        /* border: 2px solid orange; */
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .generalinfo{
        box-sizing: border-box;
        width: 95%;
        height: 30%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        /* border-bottom: 4px double darkslategray; */
    }

    .battleinfo{
        border: 4px double darkslategray;
        box-sizing: border-box;
        background-color: rgb(219, 219, 219);
        width: 95%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        
    }
    .bartitle{
        box-sizing: border-box;
        /* border: 2px solid orange; */
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-weight: 600;
        font-size: 1rem;
        padding: 0 20px;
    }
    .bar{
        /* border: 2px solid orange; */
        box-sizing: border-box;
        overflow: hidden;
        border-radius: 12px;
        background-color: white;
        height: 22px;
        width: 80%;
        color: transparent;
    }

    .hpbar{
        border-radius: 12px;
        height: 100%;
        width: 10%;
        background-color: rgb(189, 2, 2);
    }
    .speedbar{
        border-radius: 12px;
        height: 100%;
        width: 10%;
        background-color: rgb(189, 2, 2);
    }
    .attackbar{
        border-radius: 12px;
        height: 100%;
        width: 10%;
        background-color: rgb(189, 2, 2);
    }
    .defensebar{
        border-radius: 12px;
        height: 100%;
        width: 10%;
        background-color: rgb(189, 2, 2);
    }
    .superattackbar{
        border-radius: 12px;
        height: 100%;
        width: 10%;
        background-color: rgb(189, 2, 2);
    }
    .superdefensebar{
        border-radius: 12px;
        height: 100%;
        width: 10%;
        background-color: rgb(189, 2, 2);
    }

    @media screen and (max-width:1450px) {
     
    
        .pokepic img{
            padding: 0;
            margin: 0;
            height: 360px;
            width: 310px;
            /* border: 2px solid blue; */
        }

        .infocontainer{
            grid-template-columns: 300px 1fr;
           
        }
        .infobox{
            align-items: flex-end;
        }
        .bar{
            width: 75%;
        }
       
      }
    @media screen and (max-width:1360px) {
        
        .type{
            width: 100px;
        }
        .pokepic img{
            padding: 0;
            margin: 0;
            height: 330px;
            width: 280px;
            /* border: 2px solid blue; */
        }

        .infocontainer{
            grid-template-columns: 270px 1fr;
           
        }
        .infobox{
            align-items: flex-end;
        }
        .bar{
            width: 75%;
        }
       
      }
    @media screen and (max-width:1170px) {
        
    
        .pokepic img{
            padding: 0;
            margin: 0;
            height: 330px;
            width: 250px;
            /* border: 2px solid blue; */
        }

        .infocontainer{
            grid-template-columns: 250px 1fr;
           
        }
 
        .bar{
            width: 65%;
        }
       
      }
    @media screen and (max-width:1020px) {
        .backgroundInfo{
            width: 70vw;
            height: 130vh;
        }
        .pokepic{
            align-items: center;
        }
        .pokepic img{
            padding: 0;
            margin: 0;
            height: 270px;
            width: 290px;
        }

        .infocontainer{
            grid-template-columns: 250px 1fr;
            grid-template-rows: 60px 1fr 2fr;
            grid-template-areas:   
            "title title"
            "pic pic"
            "info info";
            justify-content: center;
        }

        .bar{
            width: 75%;
        }
        .detailwrapper{
            height: 150vh;
        }
        .battleinfo{
            width: 100%;
        }
       
      }
    @media screen and (max-width:800px) {
        .statstitle{
            font-size: 1.2rem;
        }
      
        .type{
            width: 140px;
        }
        .bar{
            width: 70%;
        }
        .detailwrapper{
            height: 145vh;
        }
        
        .bartitle{
            padding: 0 20px;
        }
        .statswrapper{
            padding-left: 5px;
        }
       
      }
    @media screen and (max-width:680px) {
        .statstitle{
            font-size: 1rem;
        }
        
        .title{
           
            width: 100%;
            height: 80%;
            font-size: 2rem;
            /* border: 2px solid blue; */
        }
        .bar{
            width: 60%;
            height: 20px;
        }
        .detailwrapper{
            height: 120vh;
            
        }
        .stats{
            font-size: 1rem;
        }

        .pokepic img{
            
            height: 280px;
            width: 280px;
        }


        .backgroundInfo{
            width: 70vw;
            height: 100vh;
            /* border: 2px solid blue; */
        }

        .battleinfo{
             width: 100%;
             height: 65%;
            
        }

        .bartitle{
            font-size: .9rem; 
            padding: 0 14px;
        }

        .cardsbuttons{
         
             height: 60px;  
        }

        .infocontainer{
            box-sizing: border-box;
            padding: 10px 30px;
            grid-template-rows: 50px 2fr 2fr;
        }
       
      }
    @media screen and (max-width:540px) {
        .bar{
            width: 50%;
            height: 20px;
        }
        .title{
            font-size: 1.8rem;
        }
        .type{
            width: 110px;
            font-size: 1rem;
        }
   
        .stats{
            font-size: 0.9rem;
        }

        .pokepic img{
            
            height: 240px;
            width: 240px;
        }

        .generalinfo{
   
            height: 25%;
            justify-content: space-evenly;
 
        }
        .infocontainer{
            box-sizing: border-box;
            padding: 10px 30px;
            grid-template-rows: 50px 300px 1fr;
        }
        .backgroundInfo{
            height: 90vh;
        }
        .detailwrapper{
            height: 100vh; 
        }
       
    }